<%%= form_for @changeset, @action, fn f -> %>
  <%%= if @changeset.errors != [] do %>
    <p class="alert alert-danger">Oops, something went wrong!</p>
  <%% end %>
<%= for {k, _} <- attrs, inputs[k] do %>
  <div class="form-group">
    <label><%= Phoenix.Naming.camelize(k) %></label>
    <%= "<%=" %> <%= inputs[k] %> f, <%= inspect k %>, class: "form-control" <%= "%\>" %>
  </div>
<% end %>
  <div class="form-group">
    <%%= submit "Submit", class: "btn btn-primary" %>
  </div>
<%% end %>
