<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="<%= @app_module %>" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} /><%= if not @css do %>
    <link phx-track-static rel="stylesheet" href={~p"/assets/default.css"} /><% end %>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script><%= if @css do %>
    <script>
      (() => {
        const setTheme = (theme) => {
          if (theme === "system") {
            localStorage.removeItem("phx:theme");
            document.documentElement.removeAttribute("data-theme");
          } else {
            localStorage.setItem("phx:theme", theme);
            document.documentElement.setAttribute("data-theme", theme);
          }
        };
        if (!document.documentElement.hasAttribute("data-theme")) {
          setTheme(localStorage.getItem("phx:theme") || "system");
        }
        window.addEventListener("storage", (e) => e.key === "phx:theme" && setTheme(e.newValue || "system"));
        <%= if not @live do %>
        document.addEventListener("DOMContentLoaded", () => {
          document
            .querySelectorAll("button[data-phx-theme]")
            .forEach((el) => {
              el.addEventListener("click", () => {
                setTheme(el.dataset.phxTheme)
              })
            })
        })<% else %>
        window.addEventListener("phx:set-theme", (e) => setTheme(e.target.dataset.phxTheme));<% end %>
      })();
    </script><% end %>
  </head>
  <body>
    {@inner_content}
  </body>
</html>
