<main class="container">
  <p
    class="alert alert-info"
    role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="info"
    phx-no-format
  ><%%= live_flash(@flash, :info) %></p>

  <p
    class="alert alert-danger"
    role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="error"
    phx-no-format
  ><%%= live_flash(@flash, :error) %></p>

  <%%= @inner_content %>
</main>
