/_build/
/deps/
/doc/
/node_modules/
/tmp/

/assets/node_modules/

/installer/_build/
/installer/assets/
/installer/deps/
/installer/doc/
/installer/phx_new-*.ez

/integration_test/_build/
/integration_test/deps/

erl_crash.dump
phoenix-*.ez
