<h2>Show <%= singular %></h2>

<ul>
<%= for {k, _} <- inputs do %>
  <li>
    <strong><%= Phoenix.Naming.camelize(k) %>:</strong>
    <%= "<%=" %> @<%= singular %>.<%= k %> <%= "%\>" %>
  </li>
<% end %>
</ul>

<%= "<%=" %> link "Back", to: <%= singular %>_path(@conn, :index) <%= "%\>" %>