import Config

# Configure Elixir's Logger
config :logger, :default_formatter,
  format: "$time $metadata[$level] $message\n",
  metadata: [:request_id]

# Use built-in `JSON` module
config :phoenix, :json_library, JSON<%= if @ecto do %>
config :<%= @adapter_app %>, :json_library, JSON<% end %><%= if @mailer do %>
config :swoosh, :json_library, JSON<% end %>

# Import environment specific config. This must remain at the bottom
# of this file so it overrides the configuration defined above.
import_config "#{config_env()}.exs"
