@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

// Don't include this rule in Readme.io.
// It is so the logo shows up during *local development*
.header h1.navbar-brand a {
  background-image: url("../Phoenix_files/phoenix-logo-white.png") !important;
  background-size: 250px 34px;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif !important;
}

.header {
  @include radial_gradient(circle at 50% 50%, $orange 29%, $burnt-orange 120%);
  color: $header-color !important;
}

.header .searchbox .fa-search {
  color: $header-color !important;
}

#jumbotron h2 {
  color: #fff !important;
  font-size: 36px;
  line-height: 44px;
  text-shadow: $header-shadow;
}

.header #jumbotron p {
  font-weight: $light-font;
  font-size: $header-font-size;
  color: $header-color;
  line-height: $header-line-height;
  max-width: 530px;
  margin: 30px auto;
  margin-bottom: 60px;
  text-shadow: 0px 0px 0px #FFF;
}

.navbar-nav > li > a {
  color: $header-color !important;
  opacity: 0.6;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;

  &:hover {
    opacity: 1;
    border-bottom: 1px solid #fff;
  }
}

.header #jumbotron .btn {
  background: $header-button-background-color;
  border: 3px solid #FEF4F2;
  height: 80px;
  width: 340px;
  box-sizing: border-box;
  padding-top: 14px;
  border-radius: 48px;
  margin-bottom: 25px;
  text-align: center;

  &:hover {
    background: rgba($header-button-background-color, 0.14);
  }

  span {
    width: 100%;
  }

  .button-title {
    font-weight: bold;
    clear: both;
    float: left;
    font-size: $button-title-font-size;
  }

  .button-teaser {
    clear: both;
    font-size: $button-teaser-font-size;
  }
}

.header .searchbox .typeahead {
  border-radius: 20px;
  color: $header-color !important;
  background: rgba(255,255,255,0.20) !important;
}

#subheader-columns {
  margin: 50px 30px 0;
}

.subheader h4 {
  color: $subheader-title-color;
  font-weight: $light-font;
  font-size: 18px;
  padding-bottom: 14px;
  text-transform: uppercase;
}

.subheader p {
  font-weight: $light-font;
  color: #subheader-body-color;
  font-size: 16px;
}

.subheader-link {
  color: $orange;
  display: block;
  margin: 20px 0 0;
  text-shadow: 0px 0px 0px $orange;
}
