<h2>Show <%= template_singular %></h2>

<ul>
<%= for {k, _} <- attrs do %>
  <li>
    <strong><%= Phoenix.Naming.humanize(Atom.to_string(k)) %>:</strong>
    <%= "<%=" %> @<%= singular %>.<%= k %> <%= "%\>" %>
  </li>
<% end %>
</ul>

<%= "<%=" %> link "Edit", to: <%= singular %>_path(@conn, :edit, @<%= singular %>) <%= "%\>" %>
<%= "<%=" %> link "Back", to: <%= singular %>_path(@conn, :index) <%= "%\>" %>
