<h2><%%= @title %></h2>

<%%= f = form_for @changeset, "#",
  id: "<%= schema.singular %>-form",
  phx_target: @myself,
  phx_change: "validate",
  phx_submit: "save" %>
<%= for {label, input, error} <- inputs, input do %>
  <%= label %>
  <%= input %>
  <%= error %>
<% end %>
  <%%= submit "Save", phx_disable_with: "Saving..." %>
</form>
