/* Includes some default style for the starter application.
 * This can be safely deleted to start fresh.
 */

/* General style */
h1 {
  font-size: 3.6rem;
  line-height: 1.25;
}
h2 {
  font-size: 2.8rem;
  line-height: 1.3;
}
h3 {
  font-size: 2.2rem;
  letter-spacing: -0.08rem;
  line-height: 1.35;
}
h4 {
  font-size: 1.8rem;
  letter-spacing: -0.05rem;
  line-height: 1.5;
}
h5 {
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 1.4;
}
h6 {
  font-size: 1.4rem;
  letter-spacing: 0;
  line-height: 1.2;
}
pre {
  padding: 1em;
}

.container {
  margin: 0 auto;
  max-width: 80rem;
  padding: 0 2rem;
  position: relative;
  width: 100%;
}
select {
  width: auto;
}

/* Phoenix promo and logo */
.phx-hero {
  text-align: center;
  border-bottom: 1px solid #e3e3e3;
  background: #eee;
  border-radius: 6px;
  padding: 3em 3em 1em;
  margin-bottom: 3rem;
  font-weight: 200;
  font-size: 120%;
}
.phx-hero input {
  background: #ffffff;
}
.phx-logo {
  min-width: 300px;
  margin: 1rem;
  display: block;
}
.phx-logo img {
  width: auto;
  display: block;
}

/* Headers */
header {
  width: 100%;
  background: #fdfdfd;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 2rem;
}
header section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header section :first-child {
  order: 2;
}
header section :last-child {
  order: 1;
}
header nav ul,
header nav li {
  margin: 0;
  padding: 0;
  display: block;
  text-align: right;
  white-space: nowrap;
}
header nav ul {
  margin: 1rem;
  margin-top: 0;
}
header nav a {
  display: block;
}

@media (min-width: 40rem) {
  /* Small devices (landscape phones, 576px and up) */
  header section {
    flex-direction: row;
  }
  header nav ul {
    margin: 1rem;
  }
  .phx-logo {
    flex-basis: 527px;
    margin: 2rem 1rem;
  }
}
