/* Includes Bootstrap as well as some default style for the starter
 * application. This can be safely deleted to start fresh.
 */

/*! marx.css v2.0.8 | MIT | https://github.com/mblode/marx */
/*! sanitize.css v3.3.0 | CC0 1.0 Public Domain | https://github.com/10up/sanitize.css */
button,input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button}button,hr{overflow:visible}h1,h2{margin:20px 0 16px}pre,textarea{overflow:auto}a,a:focus,a:hover{color:#2196f3}a:focus,a:hover,abbr[title],u{text-decoration:underline}img,select[multiple]{height:auto}hr,legend{width:100%}details,hr,legend,main,pre,summary,textarea{display:block}footer,img,textarea{max-width:100%}*,code{margin:0;padding:0}dl,hr,table{margin-bottom:16px}caption,fieldset,legend{padding:8px 0}legend,ol,textarea,tr,ul{margin-bottom:8px}pre,td,th{padding:16px}::after,::before,td,th{vertical-align:inherit}tfoot tr,thead th{text-align:left}abbr[title]{text-decoration:underline dotted}audio:not([controls]){display:none}b,strong{font-weight:bolder}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}button:-moz-focusring,input:-moz-focusring{outline:ButtonText dotted 1px}button,select{text-transform:none}html{-ms-overflow-style:-ms-autohiding-scrollbar;overflow-y:scroll;-webkit-text-size-adjust:100%}input{-webkit-border-radius:0}input[type=number]{width:auto}input[type=search]{-webkit-appearance:textfield}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}progress{display:inline-block}svg:not(:root){overflow:hidden}[hidden],template{display:none}*,::after,::before{box-sizing:inherit;border-style:solid;border-width:0}footer,hr{border-top:1px solid rgba(0,0,0,.12)}*{font-size:inherit;line-height:inherit;background-repeat:no-repeat}::after,::before{text-decoration:inherit}button,input,select,textarea{font-family:inherit;font-style:inherit;font-weight:inherit;background-color:transparent;color:inherit}[tabindex],a,area,button,input,label,select,textarea{-ms-touch-action:manipulation;touch-action:manipulation}select::-ms-expand{display:none}select::-ms-value{color:currentColor}svg{fill:currentColor}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[aria-disabled]{cursor:default}[hidden][aria-hidden=false]{clip:rect(0 0 0 0);display:inherit;position:absolute}[hidden][aria-hidden=false]:focus{clip:auto}:root{background-color:#fff;box-sizing:border-box;color:#000;cursor:default;font:66.66667% sans-serif}h1,h2,h3{font-weight:500}a{text-decoration:none}audio,canvas,iframe,img,svg,video{vertical-align:middle}code,img,ol,ul{vertical-align:baseline}[type=button],[type=email],[type=month],[type=password],[type=tel],[type=text],[type=time],[type=url],[type=week],[type=reset],[type=submit],[type=number],[type=search],[type=date],[type=datetime],[type=datetime-local],button,select,textarea{min-height:1.5em}code,kbd,pre,samp{font-family:monospace,monospace}nav ol,nav ul{list-style:none}small{font-size:75%;color:rgba(0,0,0,.54);vertical-align:bottom}::-moz-selection{background-color:#b3d4fc;color:#fff;text-shadow:none}::selection{background-color:#b3d4fc;color:#fff;text-shadow:none}article,aside,details,footer,header,main,section,summary{margin:0 auto 16px;width:100%}main{margin:0 auto;max-width:768px;padding:0 16px 16px}footer{clear:both;display:inline-block;float:left;padding:16px 0;text-align:center}footer p{margin-bottom:0}@media screen and (max-width:400px){article,aside,section{clear:both;display:block;max-width:100%}img{margin-right:16px}}body{color:rgba(0,0,0,.8);font-family:"Helvetica Neue",Helvetica,"Lucida Grande",sans-serif;font-size:16px;line-height:1.4}p{margin:0 0 16px}h1,h2,h3,h4,h5,h6{color:inherit;font-family:inherit;line-height:inherit}h1{border-bottom:1px solid rgba(0,0,0,.12);font-size:36px}h2{font-size:30px}h3{font-size:24px;margin:16px 0 4px}h4,h5,h6{font-weight:600;margin:16px 0 4px}h4{font-size:18px}h5{font-size:16px}h6{color:rgba(0,0,0,.54);font-size:14px}code,pre{font-family:Menlo,Monaco,Consolas,"Courier New",monospace;font-size:16px;color:rgba(0,0,0,.8)}pre{background:#efefef;margin:16px 0;white-space:pre-wrap;overflow-wrap:break-word}code{line-height:inherit;word-break:break-all;word-wrap:break-word}blockquote,figcaption{font-family:Georgia,Times,"Times New Roman",serif}sub,sup{font-size:14px}dd{margin-left:40px}ol,ul{padding-left:40px}blockquote{border-left:2px solid #2196f3;font-style:italic;margin:16px 0;padding-left:16px}s{text-decoration:line-through}sup{vertical-align:super}sub{vertical-align:sub}mark{background:#ffeb3b}input[type=email],input[type=month],input[type=password],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week],input[type=number],input[type=search],input[type=date],input[type=datetime],input[type=datetime-local],select{background:#fff;border:1px solid rgba(0,0,0,.12);border-radius:4px;color:rgba(0,0,0,.8);display:inline-block;padding:4px;vertical-align:middle}input[type=color]{background:#fff;border:1px solid rgba(0,0,0,.12);border-radius:4px;display:inline-block;vertical-align:middle}input:not([type]){-webkit-appearance:none;background-clip:padding-box;border:1px solid rgba(0,0,0,.12);border-radius:4px;display:inline-block;padding:8px;text-align:left}select,textarea{border:1px solid rgba(0,0,0,.12)}input[type=email]:focus,input[type=month]:focus,input[type=password]:focus,input[type=tel]:focus,input[type=text]:focus,input[type=time]:focus,input[type=url]:focus,input[type=week]:focus,input[type=color]:focus,input[type=number]:focus,input[type=search]:focus,input[type=date]:focus,input[type=datetime]:focus,input[type=datetime-local]:focus,select:focus,textarea:focus{border-color:#2196f3}input:not([type]):focus{border-color:#2196f3}input[type=file]:focus,input[type=radio]:focus,input[type=checkbox]:focus{outline:thin 1px}input[type=email][disabled],input[type=month][disabled],input[type=password][disabled],input[type=tel][disabled],input[type=text][disabled],input[type=time][disabled],input[type=url][disabled],input[type=week][disabled],input[type=color][disabled],input[type=number][disabled],input[type=search][disabled],input[type=date][disabled],input[type=datetime][disabled],input[type=datetime-local][disabled],select[disabled],textarea[disabled]{background-color:rgba(0,0,0,.12);color:rgba(0,0,0,.54);cursor:not-allowed}input:not([type])[disabled]{background-color:rgba(0,0,0,.12);color:rgba(0,0,0,.54);cursor:not-allowed}input[readonly],select[readonly],textarea[readonly]{border-color:rgba(0,0,0,.12);color:rgba(0,0,0,.54)}input:focus:invalid,select:focus:invalid,textarea:focus:invalid{border-color:#ea1c0d;color:#f44336}input[type=file]:focus:invalid:focus,input[type=radio]:focus:invalid:focus,input[type=checkbox]:focus:invalid:focus{outline-color:#f44336}select{-moz-appearance:none;-webkit-appearance:menulist-button;vertical-align:sub}label{line-height:2}fieldset{border:0;margin:0}legend{border-bottom:1px solid rgba(0,0,0,.12);color:rgba(0,0,0,.8)}textarea{resize:vertical;background:#fff;border-radius:4px;padding:8px;vertical-align:middle}button,input[type=reset],input[type=submit]{background:#2196f3;border:1px solid rgba(0,0,0,.12);border-radius:4px;color:#fff;cursor:pointer;display:inline-block;margin:0;padding:8px 16px;text-align:center;vertical-align:middle;white-space:nowrap}button::-moz-focus-inner,input[type=reset]::-moz-focus-inner,input[type=submit]::-moz-focus-inner{padding:0}button:hover,input[type=reset]:hover,input[type=submit]:hover{background:#0c7cd5;border-color:rgba(0,0,0,.54)}button:active,input[type=reset]:active,input[type=submit]:active{background:#0c7cd5;border-color:rgba(0,0,0,.54);box-shadow:inset 0 0 4px 0 rgba(0,0,0,.2);outline-offset:-2px}button:focus,input[type=reset]:focus,input[type=submit]:focus{background:#0c7cd5;border-color:rgba(0,0,0,.54);box-shadow:inset 0 0 4px 0 rgba(0,0,0,.2);outline:0}button:disabled,input[type=submit]:disabled{background:rgba(0,0,0,.12);color:rgba(0,0,0,.38);cursor:not-allowed}table{border-collapse:collapse;border-spacing:0;border-top:1px solid rgba(0,0,0,.12)}thead th{border:0;border-bottom:2px solid rgba(0,0,0,.12)}td,th{border-bottom:1px solid rgba(0,0,0,.12)}tfoot td{color:rgba(0,0,0,.54);font-size:8px;font-style:italic;padding:16px 4px}

/*! Phoenix Basic Stylesheet */
a {
  color: #337ab7;
}
main {
  margin: 0;
  padding: 1em;
  max-width: none;
}
.container {
  margin: 0 auto;
  max-width: 922px;
}
.phx-flex {
  display: flex;
  justify-content: space-between;
  flex: 1 auto auto;
  align-items: center;
  width: 100%;
}
/* Bootstrap-3.x-Style alerts/flash messages */
.alert,
.phx-validation-error {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning,
.phx-validation-error {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
/* Hide empty flash messages */
.alert:empty {
  display: none;
}
.phx-validation-error {
  display: block;
  width: 100%;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 5px;
}
.phx-validation-error:first-letter {
  text-transform: uppercase;
}
/* Action Show */
dl, dt, dd {
  margin: 0;
  padding: 0;
}
dl {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #eaeaea;
}
dt, dd {
  padding-top: 1rem;
}
dt {
  flex: 0 0 15%;
  font-weight: bold;
}
dd {
  flex: 0 0 85%;
  padding-left: 1rem;
  hyphens: auto;
  text-align: justify;
}
@media (min-width: 576px) {
  dl {
    display: flex;
    width: 100%;
    flex: 1 auto auto;
    align-items: center;
    flex-direction: row;
    justify-content: stretch;
    flex-wrap: wrap;
  }
}
/* Action Add/Edit */
form {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #eaeaea;
}
.form-group {
  margin-bottom: 1rem;
}
.form-group label {
  width: 100%;
  padding-right: .25rem;
  font-weight: bold;
}
select {
  margin-bottom: 1px;
}
textarea,
input:not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]) {
  display: block;
  width: 100%;
}
label {
  width: 100%;
  display: inline-block;
}
input[type="number"] {
  text-align: right;
}
textarea {
  min-height: 10em;
  margin-bottom: 0;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .form-group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex: 1 auto auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .form-group label {
    width: auto;
    min-width: 9em;
  }
}
/* Action Index */
table {
  min-width: 100%;
  table-layout: fixed;
  border-top: 0;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #eaeaea;
}
table td,
table th {
  padding: .33em;
  vertical-align: top;
}
table th {
  vertical-align: bottom;
}
table td {
  hyphens: auto;
  text-align: justify;
}
table tbody td:last-child a {
  display: inline-block;
  background: #2196f3;
  background: #888;
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  margin: 0;
  padding: 8px 16px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  margin-top: 1px;
  margin-right: 1px;
  width: 5em;
}
table tbody td:last-child a:hover {
  text-decoration: none;
  color: white;
  background: #0c7cd5;
  background: #555;
  border-color: 1px solid rgba(0, 0, 0, 0.54);
}
/* Default Layout Header */
header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex: 1 auto auto;
  align-items: center;
  background: #fdfdfd;
  border-bottom: 1px solid #eaeaea;
}
header .phx-flex {
  align-items: center;
  flex-direction: column;
}
header .phx-flex :first-child {
  order: 2;
}
header .phx-flex :last-child {
  order: 1;
}
header .phx-logo {
  min-width: 300px;
  margin: 1rem;
  display: block;
}
header .phx-logo img {
  width: auto;
  display: block;
}
header nav ul,
header nav li {
  margin: 0;
  padding: 0;
  display: block;
  text-align: right;
  white-space: nowrap;
}
header nav ul {
  margin: 1rem;
  margin-top: 0;
}
header nav a {
  display: block;
}
@media (min-width: 576px) { /* Small devices (landscape phones, 576px and up) */
  header {
    margin-bottom: 2rem;
  }
  header .phx-flex {
    flex-direction: row;
  }
  header .phx-logo {
    flex-basis: 527px;
    margin: 2rem 1rem;
  }
  header nav ul {
    margin: 1rem;
  }
}
/* Default Index Page */
.phx-hero {
  text-align: center;
  border-bottom: 1px solid #e3e3e3;
  background: #eee;
  border-radius: 6px;
  padding: 2em;
  font-weight: 200;
  font-size: 120%;
}
.phx-marketing {
  align-items: flex-start;
}
.phx-marketing ul,
.phx-marketing li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.phx-marketing li {
  text-indent: -1.33em;
  margin-left: 1.33em;
}
.phx-marketing li:before {
  content: '|>';
  content: '▷';
  opacity: .33;
  font-weight: 100;
}
