services:
  mongodb:
    image: mongo:latest
    command: ["--replSet", "rs0", "--bind_ip_all"]
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: <%= @app_name %>_dev
    healthcheck:
      test: >
        mongosh --quiet --eval
        'try { rs.status() } catch(e) { rs.initiate({_id:"rs0",members:[{_id:0,host:"127.0.0.1:27017"}]}) }'
      interval: 5s
      timeout: 10s
      retries: 5
      start_period: 5s
