<section class="phx-hero" data-tock="<%%= @tock %>" style="background-color: <%%= @bgcolor %>; color: <%%= @fgcolor %>">
  <h1><%%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>A productive web framework that<br/>does not compromise speed or maintainability.</p>
</section>