<h1>Confirm account</h1>

<.form let={_f} for={:<%= schema.singular %>} action={Routes.<%= schema.route_helper %>_confirmation_path(@conn, :update, @token)}>
  <div>
    <%%= submit "Confirm my account" %>
  </div>
</.form>

<p>
  <%%= link "Register", to: Routes.<%= schema.route_helper %>_registration_path(@conn, :new) %> |
  <%%= link "Log in", to: Routes.<%= schema.route_helper %>_session_path(@conn, :new) %>
</p>
