<h1>Resend confirmation instructions</h1>

<.form :let={f} for={:<%= schema.singular %>} action={~p"<%= schema.route_prefix %>/confirm"}>
  <%%= label f, :email %>
  <%%= email_input f, :email, required: true %>

  <div>
    <%%= submit "Resend confirmation instructions" %>
  </div>
</.form>

<p>
  <.link href={~p"<%= schema.route_prefix %>/register"}>Register</.link> |
  <.link href={~p"<%= schema.route_prefix %>/log_in"}>Log in</.link>
</p>
