<h1>Confirm account</h1>

<%%= form_for :<%= schema.singular %>, Routes.<%= schema.route_helper %>_confirmation_path(@conn, :update, @token), fn _f -> %>
  <div>
    <%%= submit "Confirm my account" %>
  </div>
<%% end %>

<p>
  <%%= link "Register", to: Routes.<%= schema.route_helper %>_registration_path(@conn, :new) %> |
  <%%= link "Log in", to: Routes.<%= schema.route_helper %>_session_path(@conn, :new) %>
</p>
