<h1>Edit <%= schema.human_singular %></h1>

<%%= render "form.html", Map.put(assigns, :action, ~p"<%= schema.route_path %>/#{@<%= schema.singular %>}") %>

<span><.link href={~p"<%= schema.route_path %>"}>Back</.link></span>
