<h1>New <%= schema.human_singular %></h1>

<%%= render "form.html", Map.put(assigns, :action, ~p"<%= schema.route_prefix %>") %>

<span><.link href={~p"<%= schema.route_prefix %>"}>Back</.link></span>
