<h2>New <%= schema.human_singular %></h2>

<%%= render "form.html", Map.put(assigns, :action, <%= schema.route_helper %>_path(@conn, :create)) %>

<span><%%= link "Back", to: <%= schema.route_helper %>_path(@conn, :index) %></span>
