<h1>New <%= schema.human_singular %></h1>

<%%= render "form.html", Map.put(assigns, :action, Routes.<%= schema.route_helper %>_path(@conn, :create)) %>

<span><%%= link "Back", to: Routes.<%= schema.route_helper %>_path(@conn, :index) %></span>
