<h1 class="font-extralight mb-5 text-4xl">New <%= schema.human_singular %></h1>

<%%= render "form.html", Map.put(assigns, :action, Routes.<%= schema.route_helper %>_path(@conn, :create)) %>

<span class="font-extralight"><%%= link "Back", to: Routes.<%= schema.route_helper %>_path(@conn, :index), class: "phx-link" %></span>
