<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
<%= Mix.Tasks.Phx.Gen.Html.indent_inputs(inputs, 2) %>
  <:actions>
    <.button>Save <%= schema.human_singular %></.button>
  </:actions>
</.simple_form>
