<h2>Show <%= schema.human_singular %></h2>

<ul>
<%= for {k, _} <- schema.attrs do %>
  <li>
    <strong><%= Phoenix.Naming.humanize(Atom.to_string(k)) %>:</strong>
    <%%= @<%= schema.singular %>.<%= k %> %>
  </li>
<% end %>
</ul>

<span><%%= link "Edit", to: <%= schema.route_helper %>_path(@conn, :edit, @<%= schema.singular %>) %></span>
<span><%%= link "Back", to: <%= schema.route_helper %>_path(@conn, :index) %></span>
