<h2>Show <%= schema.human_singular %></h2>
<dl>
<%= for {k, _} <- schema.attrs do %>
  <dt><%= Phoenix.Naming.humanize(Atom.to_string(k)) %></dt>
  <dd><%%= @<%= schema.singular %>.<%= k %> %></dd>
<% end %>
</dl>
<%%= link "Edit", to: Routes.<%= schema.route_helper %>_path(@conn, :edit, @<%= schema.singular %>) %>
<%%= link "Back", to: Routes.<%= schema.route_helper %>_path(@conn, :index) %>
