<h1>Show <%= schema.human_singular %></h1>

<ul>
<%= for {k, _} <- schema.attrs do %>
  <li>
    <strong><%= Phoenix.Naming.humanize(Atom.to_string(k)) %>:</strong>
    <%%= @<%= schema.singular %>.<%= k %> %>
  </li>
<% end %>
</ul>

<span><.link href={~p"<%= schema.route_path %>/#{@<%= schema.singular %>}/edit"}>Edit</.link></span> |
<span><.link href={~p"<%= schema.route_path %>"}>Back</.link></span>
