$light-font: 300;
$orange: #F67938;
$burnt-orange: #EF4734;

$header-color: #fff;
$header-search-background-color: rgba($header-color, 0.2);
$header-shadow: 0px 2px 0px #DD4C27;
$header-button-background-color: rgba($header-color, 0.07);
$header-font-size: 21px;
$header-line-height: $header-font-size * 1.7;

$button-title-font-size: 17px;
$button-teaser-font-size: 14px;

$subheader-title-color: #000;
$subheader-body-color: #333;
