<h2>Edit <%= template_singular %></h2>

<%= "<%=" %> render "form.html", Dict.merge(@conn.assigns, action: <%= singular %>_path(@conn, :update, @<%= singular %>)) <%= "%\>" %>

<%= "<%=" %> link "Back", to: <%= singular %>_path(@conn, :index) <%= "%\>" %>
