<h2>New <%= template_singular %></h2>

<%%= render "form.html", changeset: @changeset,
                        action: <%= singular %>_path(@conn, :create) %>

<span><%%= link "Back", to: <%= singular %>_path(@conn, :index) %></span>
