<h2>New <%= String.replace(singular, "_", " ") %></h2>

<%= "<%=" %> render "form.html", changeset: @changeset,
                        action: <%= singular %>_path(@conn, :create) <%= "%\>" %>

<%= "<%=" %> link "Back", to: <%= singular %>_path(@conn, :index) <%= "%\>" %>
