name: Assets

on:
  push:
    branches:
      - main
      - "v*.*"

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-24.04
    env:
      elixir: 1.18.3
      otp: 27.2
    permissions:
      contents: write # for stefanzweifel/git-auto-commit-action to push code in repo
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Elixir
        uses: erlef/setup-beam@e6d7c94229049569db56a7ad5a540c051a010af9 # v1.20.4
        with:
          elixir-version: ${{ env.elixir }}
          otp-version: ${{ env.otp }}

      - name: Restore deps and _build cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: |
            deps
            _build
          key: ${{ runner.os }}-mix-${{ env.elixir }}-${{ env.otp }}-${{ hashFiles('**/mix.lock') }}-dev
          restore-keys: |
            ${{ runner.os }}-mix-${{ env.elixir }}-${{ env.otp }}-
      - name: Install Dependencies
        run: mix deps.get --only dev

      - name: Set up Node.js 20.x
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 20.x

      - name: Restore npm cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install npm dependencies
        run: npm ci

      - name: Build assets
        run: mix assets.build

      - name: Push updated assets
        id: push_assets
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        with:
          commit_message: Update assets
          file_pattern: priv/static
